/* PC Mode */
@media (min-width: 1281px) {
  body {
    background-color: red;
  }
  
  /* Hide Hamburger Icon */
  #hamburger{display: none;}
  #hamnav label{
	  display: none;
  }
  
  	nav > ul{
		list-style-type: none;
		background-color: #00AEFF;
	}
	nav > ul > li{
		display: inline;
	}
	
	.websiteGrid{
		display: grid;
		grid-template-areas:
			"contact contact contact"
			"form form aside"
			"form form aside"
			"footer footer cookie"
	}
	
	.websiteContact{
		grid-area: contact;
		background-color: #DAF7A6;
	}
	
	.websiteForm{
		grid-area: form
	}
	
	.websiteAside{
		grid-area: aside;
	}
	
	.asideGrid{
		display: grid;
		grid-template-areas:
			"product1"
			"product2"
			"product3"
	}
	
	.product1{
		grid-area: product1;
	}
	
	.product2{
		grid-area: product2;
	}
	
	.product3{
		grid-area: product3;
	}
	
	.websiteFooter{
		grid-area: footer;
		background-color: #E6E8A2;
	}
	
	.websiteCookie{
		grid-area: cookie;
		background-color: #FA0;
		opacity: 50%;
		position: fixed;
		top: 92%;
		left: 74%;
		width: 400px;
	}
	
	.websiteCookie > p{
		color: #FFF;
	}
}

/* Tablet Mode */
@media (min-width: 481px) and (max-width: 1280px) {
  body {
    background-color: green;
  }
  
  /* Hide Hamburger Icon */
  #hamburger{display: none;}
  #hamnav label{
	  display: none;
  }
  
  	nav > ul{
		list-style-type: none;
		background-color: #00AEFF;
	}
	nav > ul > li{
		display: inline;
	}
	
	.websiteGrid{
		display: grid;
		grid-template-areas:
			"contact contact"
			"form aside"
			"form aside"
			"footer cookie"
	}
	
	.websiteContact{
		grid-area: contact;
		background-color: #DAF7A6;
	}
	
	.websiteForm{
		grid-area: form
	}
	
	.websiteAside{
		grid-area: aside;
	}
	
	.asideGrid{
		display: grid;
		grid-template-areas:
			"product1"
			"product2"
			"product3"
	}
	
	.product1{
		grid-area: product1;
	}
	
	.product2{
		grid-area: product2;
	}
	
	.product3{
		grid-area: product3;
	}
	
	.websiteFooter{
		grid-area: footer;
		background-color: #E6E8A2;
	}
	
	.websiteCookie{
		grid-area: cookie;
		background-color: #FA0;
		opacity: 50%;
		position: fixed;
		top: 92%;
		left: 74%;
		width: 400px;
	}
	
	.websiteCookie > p{
		color: #FFF;
	}
}

/* Phone Mode */
@media (max-width: 480px) {
  body {
    background-color: blue;
  }
  
  /*---- HAMBURGER MENU ----*/
  #hamburger{display: none;}
  #hamitems{display: block;}
  #hamitems a {
	  display: block;
	  width: 100%;
	  box-sizing: border-box;
	  border-top: 1px solid #333;
  }
  
  /* Show hamburger icon */
  #hamnav label{
	  display: inline-block;
  }
  
  /* Hide menu items by default */
  #hamitems{display: none;}
  
  /* Toggle show and hidden */
  #hamnav input:checked ~ #hamitems{display:block;}
  /*---- END HAMBURGER MENU ----*/
  
	.headerGrid{
		display: grid;
		grid-template-areas:
			"title nav"
			"payoff nav"
	}
	
	.websiteLogo{
		display: none;
	}
	
	.websiteTitle{
		grid-area: title;
	}
	
	.websitePayOff{
		grid-area: payoff;
	}
	
	.websiteNav{
		grid-area: nav;
	}
  
  	.websiteGrid{
		display: grid;
		grid-template-areas:
			"contact contact"
			"form form"
			"aside aside"
			"footer cookie"
	}
	
	.websiteContact{
		grid-area: contact;
		background-color: #DAF7A6;
	}
	
	.websiteForm{
		grid-area: form
	}
	
	.websiteAside{
		grid-area: aside;
	}
	
	.asideGrid{
		display: grid;
		grid-template-areas:
			"product1"
			"product2"
			"product3"
	}
	
	.product1{
		grid-area: product1;
	}
	
	.product2{
		grid-area: product2;
	}
	
	.product3{
		grid-area: product3;
	}
	
	.websiteFooter{
		grid-area: footer;
		background-color: #E6E8A2;
	}
	
	.websiteCookie{
		grid-area: cookie;
		background-color: #FA0;
		opacity: 50%;
		position: fixed;
		top: 92%;
		left: 50%;
		width: 400px;
	}
	
	.websiteCookie > p{
		color: #FFF;
	}
}